
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(209, 174, 202);
}

header{
    position: fixed;
    top: 0;
    width: 80%;
    left: 10%;
}
nav{
    background-color:  rgb(226, 114, 206);
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

li{
    margin: 1em;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

main{
    margin-top: 9em;
    margin-bottom: 4em;
}
.formulario{
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 114, 206) ;
    padding: 1em;
    width: 80%;
    margin: 0 auto;
}

label{
    padding: 0.5em;
}

input{
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
}

textarea{
    padding: 2em;
    border-radius: 0.5em;

}

.botones{
    margin-top: 1em;
    text-align: center;

}

button{
    padding: 1em 5em;
    border-radius: 1em;
    border: none;
    font-size: 1em;
    margin-left: 1em;
    font-weight: bold;
}

footer{
    position: fixed;
    bottom: 0;
    width: 80%;
    left: 10%;
    background-color:  rgb(226, 114, 206);
    padding: 1.5em;
}